@page "/eventos"
@using BusinessLogic.Entities
@model Frontend.Pages.EventosModel
@{
    ViewData["Title"] = "Lista de eventos";
    
}
<h1>Eventos</h1>
<p>Welcome to the page where all events <are></are> listed</p>
<table style="width: 100%">
    <tr>
        <th>Nome</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Local</th>
        <th>Descrição</th>
        <th>Capacidade Máxima</th>
        <th>Categoria</th>
        <th>Organizador</th>
    </tr>
    
    @foreach (var user in Model.Evento)
    {
        <tr>
            <td>@user.Nome</td>
            <td>@user.Data</td>
            <td>@user.Hora</td>
            <td>@user.Local</td>
            <td>@user.Descricao</td>
            <td>@user.Capacidademax</td>
            <td>@user.Categoria</td>
            <td>@user.Organizador</td>
        </tr>
    }
</table>