@page "/events/{idUtilizador}/{nome}"
@using BusinessLogic.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Eventos</PageTitle>

<h1>Eventos</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="AddNewEvent">Adicionar Evento</button>
</div>


@if (events == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table style="width: 100%">
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Local</th>
            <th>Descrição</th>
            <th>Capacidade Máxima</th>
            <th>Categoria</th>
            <th>Id Org.</th>
            <th>Organizador</th>
            <th></th> <!-- Column for Register/Edit buttons -->
        </tr>
        <tbody>
        @foreach (var evt in events)
        {
            <tr>
                <td>@evt.Nome</td>
                <td>@evt.Data</td>
                <td>@evt.Hora</td>
                <td>@evt.Local</td>
                <td>@evt.Descricao</td>
                <td>@evt.Capacidademax</td>
                <td>@evt.Categoria</td>
                <td>@evt.Organizador</td>
                <td>@evt.NomeOrganizador</td>
                <td>
                    <button class="btn btn-secondary" @onclick="() => EditEvent(evt.IdEvento)">Edit</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    [Parameter]
    public string IdUtilizador { get; set; }

    [Parameter]
    public string Nome { get; set; }

    private EventoViewModel[]? events;

    protected override async Task OnInitializedAsync()
    {
        var idUtilizador = Convert.ToInt32(IdUtilizador);
        var nome = Nome;

        events = await Http.GetFromJsonAsync<EventoViewModel[]>($"http://localhost:5052/api/Events");
    }

    private void RegisterEvent(int eventId)
    {
        // Logic to register for the event
        Console.WriteLine($"Registered for event with ID: {eventId}");
    }

    private void EditEvent(int eventId)
    {
        // Logic to edit the event
        Console.WriteLine($"Editing event with ID: {eventId}");
    }

    private void AddNewEvent()
    {
        // Logic to add a new event
        Console.WriteLine("Adding a new event");
    }
}
